body {
    font-weight: 400;
    font-size: 14px;
    padding-top: 70px;
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #14a1d4;
    padding-bottom: 0px;
}

.bg-nav {
    background: #a7d9eb;
    background-size: 52px;
}

.inicio {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0;
    color: #70caebd9;
    background: url('../assets/img/bg_oceanlife.jpg') round;
    background-size: auto;
}

.inicio:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    z-index: 1;
}

.texto-inicio {
    max-width: 640px;
    color: #fff;
    z-index: 2;
    padding: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

.texto-inicio h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    color: #009ade;
}

.texto-inicio p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #000;
}

@media(min-width: 576px) {
    .inicio {
        min-height: 680px;
        color: transparent;
    }
    .inicio .text {
        padding: 0px
    }
}

.bg-azul {
    background-color: #70caeb;
}

section {
    scroll-margin-top: 6.8em;
    padding: 20px 0;
}

.section-title {
    margin-bottom: 25px;
}

.section-title h2 {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    color: #002659;
}

.section-content {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
}

.img-oceano {
    height: 90%;
    display: block;
    margin: auto;
}

.mapa {
    margin: 0 auto;
}

.buscar-especie {
    scroll-margin-top: 6.8em;
    padding: 30px 0;
}

.col-buscar {
    padding: 10px;
    margin: 0 auto;
}

.btn-buscar {
    margin-bottom: 15px;
}